<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="relaxService">

	<!-- 게시글 조회 및 페이징처리 -->
	<select id="relaxServiceRosterList" parameterType="RelaxServiceVo"
		resultType="RelaxServiceVo">
			SELECT *
			FROM (SELECT ROWNUM rnum, A.*
			FROM (SELECT
				SEQ seq,
				TITLE title,
				CONTENT content,
				INT_DATE intDate,
				UPT_DATE uptDate,
				USER_CNT usrCnt,
				EMAIL email,
				USR usr
			FROM TEST
	   			 <![CDATA[
	                  ) A
			         WHERE ROWNUM <= #{firstIndex} + #{recordCountPerPage})
			 WHERE rnum >= #{firstIndex} + 1
			 ]]>
	</select>
	
	<!--게시글 카운터 -->
	<select id="relaxServiceRosterCnt" parameterType="RelaxServiceVo"
	resultType="int">
		SELECT COUNT(1) AS CNT
		FROM TEST
	</select>
	
	<!-- 게시글 상세조회 -->
	<select id="relaxServiceDetail" parameterType="RelaxServiceVo"
		resultType="RelaxServiceVo">
		select 
			SEQ seq,
			TITLE title,
			CONTENT content,
			INT_DATE intDate,
			UPT_DATE uptDate,
			USER_CNT usrCnt,
			EMAIL email,
			USR usr
		FROM TEST
		WHERE SEQ = #{seq}
	</select>
	
	<!-- 게시글 검색 -->
	<!--  <select id="relaxServiceSearch" parameterType="RelaxServiceVo"
		resultType="RelaxServiceVo">
		select 
			SEQ seq,
			TITLE title,
			CONTENT content,
			INT_DATE intDate,
			UPT_DATE uptDate,
			USER_CNT usrCnt,
			EMAIL email,
			USR usr
		FROM TEST
		WHERE USR = #{usr}
	</select>-->

	<!-- 데이터 수정 -->
	<update id="updateAplcProcSt" parameterType="RelaxServiceVo">
		UPDATE CL_CNSM_ACPT
		SET APLC_PROC_ST = '910' 
		WHERE APLC_MGMT_NO = #{aplcMgmtNo} 
		AND APLC_PROC_ST = '710'
	</update>
	
</mapper>
